.suggestions-tab {
    background-image: url('https://as2.ftcdn.net/v2/jpg/00/65/48/25/1000_F_65482539_C0ZozE5gUjCafz7Xq98WB4dW6LAhqKfs.jpg'); /* Adjust the path */
    background-size: cover;
    background-position: center;
    /* Other background properties can be added as needed */
}
