{% extends "index.html" %}

{% block content %}
    <div class="container mt-4">
        <header>
            <h1 class="mb-4">Hotel Suggestions</h1>
        </header>

        <div class="row">
            {% for hotel in datum %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ hotel.name }}</h5>
                            <p class="card-text"><strong>Rating:</strong> {{ hotel.rating }}</p>
                            <a href="{{ hotel.link }}" class="btn btn-primary" target="_blank">Book Now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
